# src: .gitignore
# @(#) : gitignore settings for claude agents,skills, ...
#
# Copyright (c) 2025- atsushifx <http://github.com/atsushifx>
#
# This software is released under the MIT License.
# https://opensource.org/licenses/MIT

# default deny all files
*

# Git settings
!**/.gitignore

# settings
!settings.json

# claude settings
!rules/
!rules/**
!hooks/
!hooks/**


## claude add-ons
# Agents
!agents/
!agents/*

